*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    text-transform: capitalize;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    width: 50%;
    height: 100vh;
    background-image:  linear-gradient(45deg, rgb(31, 107, 213), rgb(81, 33, 152));
    border-radius: 25px;
}
.search{
    width: 60%;
    height: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px; 
}
input, button{
    border: 0px;
    outline: 0px;
    padding-left: 5px;
    color: #474545;
    background: white;
    border-radius: 30px;
    font-size: 16px;
}

.temp{
    text-align: center;
    font-size: 40px;
}
.weather{
    height: 200px;
    width: 200px;
}
.location{
    font-size: 30px;
    text-align: center;
}
.footcard{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.icon{
    height: 30px;
    width: 30px;
}
.sect{
    display: flex;
}
.caption{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 24px;
}
span{
    font-size: 16px;
}

